<!-- Author: Matt Nguyen
Course: CPSC332
Assignment: Web Project Deliverable 2
Last Modifed: 11.04.2022 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="./leaderboard.css">
    <script src="./leaderboard.js"></script>
</head>
<body>
    <div class="container">
        <div id="high-scores" class="flex-center flex-col">
            <h1 id="lb-title">leaderboard</h1>
            <ul class="score-list">
                <h2 class="score-list-title">timed</h2>
                <% players.forEach(function(player){ %>
                    <% if(!(player.time === 0)) { %>
                        <li><%= player.name %> | <%= player.score %>pts | <%= player.time %>s</li>
                    <% } %>
                <% }); %>
                <h2 class="score-list-title">untimed</h2>
                <% players.forEach(function(player){ %>
                    <% if(player.time === 0) { %>
                        <li><%= player.name %> | <%= player.score %>pts</li>
                    <% } %>
                <% }); %>
            </ul>
            <a href="../index/index.html" class="btn" id="home-btn">home</a>
        </div>
    </div>
</body>
</html>